.abba-selected-element {
  outline: 3px dashed #ff7f00 !important;
  background-color: rgba(250, 255, 176, 0.5) !important;
}
.abba-temp-selected-element {
  outline: 3px dashed #1500ff !important;
  background-color: rgba(0, 184, 255, 0.5) !important;
}
.abba-mouseover-element {
  outline: 3px solid red !important;
}
